#Virtual Environment

venv/
env/
_venv_/

#Flask
instance/*
!instance/.gitignore
.webassets-cache

#Flask.Python Stack
#Byte-compiled / optimized / DLL files
__pycache__/
*py[cod]
*$py.class
CourseRecommenderMS.rar
appORIG.py
ngrok.exe
